# Angular specific
/dist/
/out-tsc/
/tmp/
/coverage/
/e2e/test-output/
/.angular/
.angular/

# Node modules and dependency files
/node_modules/
/package-lock.json
/yarn.lock

# Environment files
/.env

# Angular CLI and build artefacts
/.angular-cli.json
/.ng/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.trae
.workbuddy

frontend/dist
frontend/node_modules

main.exe
server.exe
.idea/
service/bin/
data/
hermes_plugin/allure-results/
hermes_plugin/.venv/
hermes_plugin/.pdm-build/
hermes_plugin/.pytest_cache/
hermes_plugin/tests/__pycache__/
hermes_plugin/tests/.pytest_cache/
hermes_plugin/__pycache__/
hermes_plugin/src/hermes_plugin/__pycache__/
hermes_plugin/src/hermes_plugin/tests/__pycache__/

web/node_modules/
web/dist/
web/.tanstack/
