# Angular specific
/dist/
/out-tsc/
/tmp/
/coverage/
/e2e/test-output/
/.angular/
.angular/

# Node modules and dependency files
/node_modules/
/package-lock.json
/yarn.lock

# Environment files
/.env

# Angular CLI and build artefacts
/.angular-cli.json
/.ng/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.trae
.workbuddy

frontend/dist
frontend/node_modules

main.exe
server.exe
.idea/
go-service/bin/api.exe
go-service/bin/migrate.exe
go-service/bin/scheduler.exe
go-service/bin/worker.exe
